body{
    background-color: rgb(22, 106, 22);
}

#main{
    width:50%;
    margin: auto;
    border: 4px solid gray;
    border-radius: 20px;
    background-color: rgb(120, 84, 84);
    text-align: center;
}
#main>input{
   
    display:flex ;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}
input{
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
}
label{
    font-weight: bold;
}
#low{
    margin: auto;
    /* margin-bottom:10px; */
}
label.required::after {
    content: " *"; /* Add an asterisk after the label text */
    color: red;    /* Optionally, style the asterisk as needed */
}
#list{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    margin: auto;
    width: 90%;
}
#list>div{
    margin: auto;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
}
button{
    margin-bottom: 20px;
}
#fl{
    margin: auto;
    /* margin-left:400px; */
    /* display: flex; */
    border: 1px solid;
}
#fl>div{
    /* margin-left:100px; */
    display: flex;
}